<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="css/style.css" rel="stylesheet"> -->
    </head>
    <body>
        <noscript>JavaScript is required to register!</noscript>
        @if error.len == 0
            <p class=error>@error</p>
        @end
        <div id=register-form></div>
        <p>Already a user? <a href="/login">Login here!</a></p>
        <script>
            document.getElementById('register-form').outerHTML = `
                <form method=post>
                    <label for=email>Email:</label>
                    <input id=email type=email name=email>
                    <br>
                    <label for=password>Password:</label>
                    <input id=password type=password name=password>
                    <br>
                    <button>OK</button>
                </form>`
        </script>
    </body>
</html>


